{% extends 'base.html' %}

{% block title %}Fichas - Wilderfeast{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/fichas.css') }}">
{% endblock %}

{% block content %}
    <main>
        <section class="fichascontainer">
            <p class="title">Fichas</p>
            
            <section class="fichas">
                {% if listagem %}
                    {% for listagem in listagem %}
                        <div class="ficha">
                            <div class="top">
                                <img src="{{ url_for('static', filename='uploads/' + listagem.imagem_url) }}" alt="Imagem do personagem" width="300">
                
                                <div class="direita">
                                    <div class="nome">
                                        <p>{{listagem.nome}}</p>
                                    </div>

                                    <div class="status">
                                        <div class="stat">
                                            <p>Vigor</p>
                                            <div class="vigorbarra">
                                                <span>{{listagem.vigor_atual}} / {{listagem.vigor_maximo}}</span>
                                            </div>
                                        </div>
                                        <div class="stat">
                                            <p>Durabilidade</p>
                                            <div class="durabarra">
                                                <span>{{listagem.utensilios[0].durabilidade_atual}} / {{listagem.utensilios[0].durabilidade_maxima}}</span>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>

                            <div class="mid">
                                <div class="pontos">
                                    <p>Pod</p>
                                    <p>{{listagem.estilo.poderoso}}</p>
                                </div>
                                <div class="pontos">
                                    <p>Pre</p>
                                    <p>{{listagem.estilo.preciso}}</p>
                                </div>
                                <div class="pontos">
                                    <p>Lig</p>
                                    <p>{{listagem.estilo.ligeiro}}</p>
                                </div>
                                <div class="pontos">
                                    <p>Sag</p>
                                    <p>{{listagem.estilo.sagaz}}</p>
                                </div>
                            </div>

                            <div class="bottom">
                                <div class="especialidade">
                                    <p>Especialidade</p>
                                    <p>{{listagem.especialidade}}</p>
                                </div>

                                <div class="utensilio">
                                    <p>Utensílio</p>
                                    <p>{{listagem.utensilios[0].nome}}</p>
                                    <a href="{{ url_for('feral.detail_feral', id_feral = listagem.id) }}" class="fichabtn efeito">Ficha Completa</a>
                                    {% if listagem.player == current_user.nome %}
                                            <a href="{{ url_for('feral.edit_feral', id_feral = listagem.id) }}" class="fichabtn efeito">Editar Ficha</a>
                                            <a href="{{ url_for('feral.delete_feral', id_feral = listagem.id) }}" class="fichabtn efeito">Deletar Ficha</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h1>Ainda não há personagens </h1>
                {% endif %}
                

                <div class="criarcontainer">
                    <a href="{{ url_for('feral.create_feral') }}" class="criar center">Criar Personagem</a>
                </div>
            </section>
        </section>
    </main> 
{% endblock %}