@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alexandria", sans-serif;
    transition: 0.2s ease;
}
:root{
    --azul: rgba(12, 20, 184, 1);
    --amarelo: rgba(248, 163, 72, 1);
    --vermelho: rgba(237, 0, 0, 1);
    --verde: rgba(30, 159, 28, 1);
    --laranja: rgba(211, 127, 53, 1);
    --turquoise: rgba(10, 103, 159, 1);
    --azul2: rgba(38, 74, 124, 1);
    --ciano: rgba(43, 146, 177, 1);
    --azulescuro: rgba(23, 33, 78, 1);
    --marrom: rgba(105, 50, 44, 1);
    --vermelhoescuro: rgba(166, 41, 20, 1);
    --marrom2: rgba(55, 12, 16, 1);
    --cinza: rgba(0, 0, 0, 0.75);
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    min-height: 100dvh;
}
main{
    padding: calc(2em + 80px) 5em;
}
button{
    background-color: transparent;
    outline: none;
    border: none;
    width: 64px;
    font-weight: 600;
}
a{
    text-decoration: none;
}
.title{
    font-size: 2.25em;
    font-weight: 700;
}
.sub{
    color: var(--cinza);
    font-weight: 300;
}   
header{
    height: 80px;
    padding: 1em 5em;
    background-color: var(--azul);
    color: white;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    z-index: 999;
}
header a:hover{
    scale: 1.1;
}
header img{
    width: 250px;
    height: 40px;
}
header .links{
    display: flex;
    gap: 2em;
}
header a{
    color: white;
}

.perfil-container {
    position: relative;
    display: inline-block;
}

.perfil {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1em;
    cursor: pointer;
    font-weight: 300;
}

.popup {
    position: absolute;
    top: 100%;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.hidden {
    display: none;
}

p{
    font-size: 1em;
}
.efeito{
    position: relative;
    transition: 200ms ease;
    overflow: hidden;
}
.efeito:hover{
    scale: 1.1;
}
.efeito::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    rotate: 45deg;
    width: 5px;
    height: 170%;
    translate: -40px -20px;
    transition: 200ms ease;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), white, rgba(255, 255, 255, 0.7));
}
.efeito:hover::after{
    left: calc(100% + 80px);
}
.links a:nth-child(4):hover{
    cursor: not-allowed;
    color: var(--vermelho);
    font-weight: 600;
}
@media (max-width: 675px){
    main{
        padding: calc(2em + 80px) 20px;
    }
    header .links{
        gap: 8px;
    }
    header{
        padding: 1em 2em;
    }
}
@media (max-width: 550px){
    header img{
        height: 24px;
        width: 150px;
    }
    header{
        padding: 1em;
        font-size: 12px;
    }
}
button:hover{
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 10px; 
    height: 10px; 
}

::-webkit-scrollbar-track {
    background: var(--turquoise); 
}

::-webkit-scrollbar-thumb {
    background: var(--ciano); 
    border-radius: 8px; 
}

::-webkit-scrollbar-thumb:hover {
    background: var(--azul2); 
}