{% block header %}
    <header>
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='imagens/wilderfeast.png') }}" alt="wilderfeast">
        </a>
        <div class="links">
            <a href="{{ url_for('dados') }}">Dados</a>
            <a href="{{ url_for('feral.fichas') }}">Fichas</a>
            <a href="{{ url_for('bestiario.bestiario') }}">Bestiário</a>
            <a>Mestre</a>
            <div class="perfil-container">
                <button id="perfil-btn" class="perfil" data-logout-url="{{ url_for('admin.logout') }}">
                    {{ current_user.nome }}
                </button>

                <div id="popup-logout" class="popup hidden">
                    <button id="logout-btn">Logout</button>
                </div>
            </div>
    </header>
    <script src="{{ url_for('static', filename='logout.js') }}"></script>
{% endblock %}