{% extends 'base.html' %}

{% block title %}Inicio - Wilderfeast{% endblock %}


{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock%}
    

{% block content %}
    <main>
        <section class="criar">
            <p class="title">Criar ficha</p>
            <p class="sub">Crie aqui a ficha do seu personagem</p>
            <a href="{{ url_for('feral.create_feral') }}" class="bestabtn center">Criar</a>
        </section>

        <section class="fichascontainer">
            <p class="title">Fichas criadas</p>

            <section class="fichas">
                {% if listagem %}
                    {% for listagem in listagem %}
                        <div class="ficha">
                            <div class="top">
                                <img src="{{ url_for('static', filename='uploads/' + listagem.imagem_url) }}" alt="Imagem do personagem" width="300">
                
                                <div class="direita">
                                    <div class="nome">
                                        <p>{{listagem.nome}}</p>
                                    </div>

                                    <div class="status">
                                        <div class="stat">
                                            <p>Vigor</p>
                                            <div class="vigorbarra">
                                                <span>{{listagem.vigor_atual}} / {{listagem.vigor_maximo}}</span>
                                            </div>
                                        </div>
                                        <div class="stat">
                                            <p>Durabilidade</p>
                                            <div class="durabarra">
                                                <span>{{listagem.utensilios[0].durabilidade_atual}} / {{listagem.utensilios[0].durabilidade_maxima}}</span>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>

                            <div class="mid">
                                <div class="pontos">
                                    <p>Pod</p>
                                    <p>{{listagem.estilo.poderoso}}</p>
                                </div>
                                <div class="pontos">
                                    <p>Pre</p>
                                    <p>{{listagem.estilo.preciso}}</p>
                                </div>
                                <div class="pontos">
                                    <p>Lig</p>
                                    <p>{{listagem.estilo.ligeiro}}</p>
                                </div>
                                <div class="pontos">
                                    <p>Sag</p>
                                    <p>{{listagem.estilo.sagaz}}</p>
                                </div>
                            </div>

                            <div class="bottom">
                                <div class="especialidade">
                                    <p>Especialidade</p>
                                    <p>{{listagem.especialidade}}</p>
                                </div>

                                <div class="utensilio">
                                    <p>Utensílio</p>
                                    <p>{{listagem.utensilios[0].nome}}</p>
                                    <a href="{{ url_for('feral.detail_feral', id_feral = listagem.id) }}" class="fichabtn efeito">Ficha Completa</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h1>Ainda não há fichas</h1>
                {% endif %}
                <a href="{{ url_for('feral.fichas') }}" class="acessar center">Acessar restante</a>
            </section>
        </section>

        <section class="bestiario">

            <p class="title">Bestiário</p>
            <p class="sub">Todas as informações sobre as bestas do mundo Wilderfeast</p>

            <div class="bestas">
                {% for listagem2 in listagem2 %}
                    <div class="besta">
                        <img src="{{ url_for('static', filename='uploads/' + listagem2.imagem_url) }}" alt="">
                        <p>{{listagem2.nome}}</p>
                        <p class="sub">{{listagem2.descricao}}</p>
                    </div>
                {% endfor %}
                <div class="besta" id="bestadesc">
                    <p>Para ter acesso ao bestiário completo, seja redirecionado para a página clicando no botão</p>
                    <a href="{{ url_for('bestiario.bestiario') }}" class="bestabtn center">Clique aqui</a>
                </div>
            </div>  
        </section>

        <section class="mestre">
            <p class="title">Área do mestre</p>
            <p class="sub">Espaço dedicado para o nosso mestre feio e horroroso</p>
            <a href="" class="center">
                Entre aqui
            </a>
        </section>
    </main>
{% endblock %}