<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wilderfeast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='imagens/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>
<body>
    <main>
        <div class="container">
            <img src="{{ url_for('static', filename='imagens/wilderfeast.png') }}" alt="">
            <a href="{{ url_for('admin.register') }}" class="efeito">Crie uma conta</a>
            <a href="{{ url_for('admin.login') }}" class="efeito">Entre numa conta existente</a>
        </div>
    </main>
</body>
</html>