{% extends 'base.html' %}


{% block title %}Bestiário - Wilderfeast{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bestiario.css') }}">
{% endblock %}

{% block content %}
    <main>
        <section class="bestiario">
            <p class="title">Bestiário</p>
            <p class="sub">Todas as informações sobre as bestas do mundo Wilderfeast</p>
            <div class="bestas">
                {% if listagem != [] %}
                    {% for monstro in listagem %}
                        <div class="besta">
                            <img src="{{ url_for('static', filename='uploads/' + monstro.imagem_url) }}" alt="">
                            <p>{{ monstro.nome }}</p>
                            <p class="sub">{{ monstro.descricao }}</p>
                            <a href="{{ url_for('bestiario.bestiario_detail', id_besta = monstro.id) }}" class="efeito btn">Acessar ficha completa</a>
                        </div>
                    {% endfor %}
                {% endif %}
                

                <a href="{{ url_for('bestiario.bestiario_create') }}"><button class="efeito">Adicionar nova besta</button></a>
            </div>
        </section>
    </main>
{% endblock %}