
{% extends 'base.html' %}

{% block title %}Cadastro{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create_feral.css') }}">
{% endblock %}

{% block content %}

<main>
    <h1>Cadastro de Personagem</h1>

    <form action="{{ url_for('bestiario_edit') }}" method="POST" enctype="multipart/form-data">
        
        <label>Nome:</label><br>
        <input type="text" name="nome" required value="{{monstro.nome}}"><br><br>

        <label>Categoria:</label><br>
        <input type="text" name="categoria" required value="{{monstro.categoria}}"><br><br>

        <label>Resistencia:</label><br>
        <input type="text" name="resistencia_base" required  value="{{monstro.resistencia_base}}"><br><br>

        <label>Descrição:</label><br>
        <textarea name="descricao" required>{{monstro.descricao}}</textarea><br><br>

        <label>Alvos:</label><br>
        <textarea name="alvos" required>{{monstro.alvos}}</textarea><br><br>

        <label>Ações:</label><br>
        <textarea name="acoes" required>{{monstro.acoes}}</textarea><br><br>

        <button type="submit">Editar Monstro</button>
    </form>
</main>
{% endblock %}
