{% extends "base.html" %}

{% block title %}Ficha Bestiário{% endblock  %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ficha_bestiario.css') }}">
{% endblock %}

{% block content %}
    <main>
        <section class="personagem">
            <img src="{{ url_for('static', filename='uploads/' + besta.imagem_url) }}" alt="Besta">
            <div class="personDesc">
                <p>Nome: {{ besta.nome }}</p>
                <p>Categoria: {{ besta.categoria }}</p>
                <p>Condições:</p>

                <div class="condicoes">
                    <button onclick="ficarVerde(this)">Amedrontado</button>
                    <button onclick="ficarVerde(this)">Atordoado</button>
                    <button onclick="ficarVerde(this)">Confuso</button>
                    <button onclick="ficarVerde(this)">Convalescente</button>
                    <button onclick="ficarVerde(this)">Descansado</button>
                    <button onclick="ficarVerde(this)">Dissonante</button>
                    <button onclick="ficarVerde(this)">Envenenado</button>
                    <button onclick="ficarVerde(this)">Escondido</button>
                    <button onclick="ficarVerde(this)">Expandido</button>
                    <button onclick="ficarVerde(this)">Exposto</button>
                    <button onclick="ficarVerde(this)">Fadigado</button>
                    <button onclick="ficarVerde(this)">Ferido</button>
                    <button onclick="ficarVerde(this)">Preso</button>
                    <button onclick="ficarVerde(this)">Queimado</button>
                    <button onclick="ficarVerde(this)">Revigorado</button>
                </div>
            </div>
        </section>

        <div class="break">
            <span class="linha"></span>
            <p>Partes</p>
            <span class="linha"></span>
        </div>

        <section class="partes">
            <div class="parte">
                <p>
                    <b>ESCAMAS.</b> Alcance: 1 (<span class="azul">AGARRAR</span> <span class="amarelo">PODEROSO</span>)
                    Passiva: se você conseguir Atacar ela fica <span class="vermelho">PRESA</span>
                </p>
                <ul>
                    <li>Se Quebrado: Alcance: 1 (<span class="azul">AGARRAR</span> <span class="amarelo">PODEROSO</span>)</li>
                </ul>
            </div>

            <span class="dotline"></span>

            <div class="parte">
                <p>
                    <b>ESCAMAS.</b> Alcance: 1 (<span class="azul">AGARRAR</span> <span class="amarelo">PODEROSO</span>)
                    Passiva: se você conseguir Atacar ela fica <span class="vermelho">PRESA</span>
                </p>
                <ul>
                    <li>Se Quebrado: Alcance: 1 (<span class="azul">AGARRAR</span> <span class="amarelo">PODEROSO</span>)</li>
                </ul>
            </div>

            <span class="dotline"></span>

            <div class="parte">
                <p>
                    <b>ESCAMAS.</b> Alcance: 1 (<span class="azul">AGARRAR</span> <span class="amarelo">PODEROSO</span>)
                    Passiva: se você conseguir Atacar ela fica <span class="vermelho">PRESA</span>
                </p>
                <ul>
                    <li>Se Quebrado: Alcance: 1 (<span class="azul">AGARRAR</span> <span class="amarelo">PODEROSO</span>)</li>
                </ul>
            </div>

            <div class="durabilidade">
                <p id="durabtitulo">DURABILIDADE(respectivamente)</p>
                <div class="durabValores">
                    <p class="center">{{ besta.resistencia_atual }} / {{ besta.resistencia_base }} </p>
                    <p class="center">{{ besta.resistencia_atual }} / {{ besta.resistencia_base }} </p>
                    <p class="center">{{ besta.resistencia_atual }} / {{ besta.resistencia_base }} </p>
                </div>
            </div>
        </section>
    </main>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock content %}