{% extends 'base.html' %}

{% block title %}Cadastro{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}

{% block content %}


<main>
    <div class="container">
        <h1>Cadastre-se no nosso site para poder acessá-lo!</h1>
        <div class="forms">
            <form action="{{ url_for('admin.register') }}" method="post">
                <label for="nome">Digite seu nome</label>
                <input type="text" name="nome" placeholder="Usuário">

                <label for="email">Insira seu email</label>
                <input type="text" name="email" placeholder="usuario@gmail.com">

                <label for="senha">Defina uma senha</label>
                <input type="password" name="senha" placeholder="****">

                <button type="submit">Criar conta</button>
                <button><a href="{{ url_for('admin.login') }}">Login</a></button>
            </form>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</main>
{% endblock %}